@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Primary */
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);

    /* Secondary */
    --red: hsl(0, 87%, 67%);

    /* Neutral */
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    background: linear-gradient(to bottom, white 100vh, #eff1f7 100px);
    overflow-x: hidden;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0px;
    width: 100%;
    gap: 65px;
}

/* nav-bar */

header {
    margin-top: 40px;
    height: 60px;
    width: 100%;
    margin-bottom: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.logo {
    cursor: pointer;
}

nav>.logo_and_options>ul {
    list-style: none;
    display: flex;
    gap: 20px;
    color: gray;
    cursor: pointer;
    transition: color 0.2s ease;
}

nav>.logo_and_options>ul>li {
    transition: color 0.2s ease;
}

nav>.logo_and_options>ul>li:hover {
    color: var(--very-dark-violet);
}

.logo_and_options {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-buttons {
    display: flex;
    font-size: 1rem;
}

.nav-buttons>button {
    width: 90px;
    cursor: pointer;
}

.hamburguer-menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#login-button {
    border-style: none;
    background-color: white;
    color: var(--grayish-violet);
    transition: color 0.2s ease;
}

#login-button:hover {
    color: var(--very-dark-violet);
}

#sign-up-button {
    border-radius: 20px;
    border-style: none;
    background-color: var(--cyan);
    color: white;
    transition: background-color 0.2s ease;
}

#sign-up-button:hover {
    background-color: hsla(180, 66%, 49%, 0.562);
}

/* hero-section */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    width: 100%;
}

.hero-infos>h1 {
    font-size: 4.7rem;
    color: var(--very-dark-blue);
    line-height: 5rem;
}

.hero-infos>p {
    color: gray;
    font-size: 1.5rem;
    line-height: 2.2rem;
    max-width: 550px;
}

.hero-infos>button {
    margin-top: 30px;
    background-color: var(--cyan);
    border-style: none;
    color: white;
    padding: 20px 80px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.hero-infos>button:hover {
    background-color: hsla(180, 66%, 49%, 0.562);

}

.hero-image>img {
    position: absolute;
    top: 150px;
    right: -100px;
    height: 600px;
}

/* infos-wrapper */

.infos-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* input */

.container-box-link {
    background-color: var(--dark-violet);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 45px;
    border-radius: 15px;
    background-image: url("./images/bg-shorten-desktop.svg");
    background-size: cover;
    transform: translateY(45px);
}

.container-box-link>input {
    height: 100%;
    flex: 4;
    border-radius: 10px;
    padding: 15px;
    border-style: none;
    font-size: 1rem;
    text-align: center;
}

.container-box-link>button {
    height: 100%;
    flex: 1;
    border-radius: 10px;
    border-style: none;
    background-color: var(--cyan);
    color: white;
    font-size: 1rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.container-box-link>button:hover {
    background-color: #88e4e4;
}

/* advanced statistics */

.advanced-statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advanced-statistics-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 8rem;
}

.advanced-statistics-main>h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.advanced-statistics-main>p {
    font-size: 1.2rem;
    line-height: 2rem;
    color: gray;
}

.advanced-statistics-containers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.advanced-statistics-container {
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.advanced-statistics-container:nth-child(1) {
    margin-top: 0;
}

.advanced-statistics-container:nth-child(2) {
    margin-top: 40px;
}

.advanced-statistics-container:nth-child(3) {
    margin-top: 80px;
}

.text-box {
    margin-top: 2rem;
}

.advanced-statistics-container>.text-box>h3 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.advanced-statistics-container>.text-box>p {
    line-height: 2rem;
    color: gray;
}

.divisor-line-one {
    box-sizing: border-box;
    background-color: var(--cyan);
    height: 10px;
    width: 80%;
    position: absolute;
    top: 50%;
    z-index: -1;
}

.divisor-line-two {
    display: none;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: var(--dark-violet);
    border-radius: 50%;
    position: absolute;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

.pre-footer {
    height: 250px;
    width: 100%;
    background-color: var(--dark-violet);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 20px;
    background-image: url("./images/bg-boost-desktop.svg");
    background-size: cover;
    margin-top: 7rem;
}

.pre-footer>h2 {
    font-size: 2rem;
}

.pre-footer>button {
    background-color: var(--cyan);
    border-style: none;
    color: white;
    padding: 15px 60px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.pre-footer>button:hover {
    background-color: #88e4e4;
}

.footer-infos-container-main {
    box-sizing: border-box;
    background-color: var(--very-dark-violet);
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-infos-container-text {
    width: 100%;
    max-width: 1440px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.footer-infos-container-text>img {
    height: 30px;
}

.footer-infos-container>p {
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-infos-container>ul {
    list-style: none;
    color: var(--gray);
}

.footer-infos-container>ul>li {
    margin-bottom: 8px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.footer-infos-container>ul>li:hover {
    color: var(--cyan);
}

.social-medias>img {
    margin-left: 15px;
    cursor: pointer;
}

/* media queries */

@media (max-width: 800px) {

    body {
        background: linear-gradient(to bottom, white 20%, #eff1f7 80%);
        overflow-x: hidden;
    }

    .main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 400px;
        gap: 100px;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    nav>.logo_and_options>ul {
        display: none;
    }

    .nav-buttons {
        display: none;
    }

    .logo_and_options {
        display: flex;
        align-items: space-between;
    }

    .hamburguer-menu {
        display: block;
        height: 30px;
        width: auto;
        cursor: pointer;
        opacity: 40%;
    }

    /* hero section */

    .hero-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }

    .hero-image {
        position: absolute;
        top: 0;
        left: 36rem;
    }

    .hero-image>img {
        height: 400px;
    }

    .hero-infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero-infos>p {
        margin-top: 1rem;
        color: gray;
        font-size: 1.5rem;
        line-height: 2.2rem;
        max-width: 400px;
        text-align: center;
    }

    .hero-infos>h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-top: 15rem;
    }

    .container-box-link {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 25px;
        height: 200px;
        gap: 25px;
        padding: 5;
        border-radius: 10px;
    }

    .container-box-link>input {
        display: flex;
        flex: 1;
        width: 100%;
        border-radius: 10px;
        border-style: none;
        font-size: 1rem;
        box-sizing: border-box;
        margin: 0;
        padding: 5px;
    }

    .container-box-link>button {
        width: 100%;
        flex: 1;
        border-radius: 7px;
        border-style: none;
        background-color: var(--cyan);
        color: white;
        font-size: 1rem;
        transition: background-color 0.2s ease;
        cursor: pointer;
        margin: 0;
    }

    /* advanced statistics */

    .advanced-statistics {
        display: flex;
        flex-direction: column;
    }

    .advanced-statistics-main {
        width: 100%;
    }

    .advanced-statistics-main>h2 {
        font-size: 2.3rem;
    }

    .advanced-statistics-main>p {
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
    }

    .advanced-statistics-containers {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    .advanced-statistics-container {
        height: 380px;
        width: 380px;
        background-color: white;
        border-radius: 15px;
        padding: 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .circle {
        height: 100px;
        width: 100px;
        background-color: var(--dark-violet);
        border-radius: 50%;
        position: absolute;
        left: 140px;
        top: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .advanced-statistics-container:nth-child(2) {
        margin-top: 0;
    }

    .advanced-statistics-container:nth-child(3) {
        margin-top: 0;
    }

    .text-box {
        height: 200px;
        max-width: 90%;
        margin: 0 auto;
    }

    .text-box>h3 {
        font-size: 3rem;
    }

    .text-box>p {
        font-size: 1.2rem;
        color: gray;
        line-height: 20px;
    }

    .divisor-line-one {
        display: none;
    }

    .divisor-line-two {
        display: block;
        position: absolute;
        background-color: var(--cyan);
        height: 800px;
        width: 10px;
        z-index: -1;
        transform: translateY(220px)
    }

    /* footer */

    .footer-infos-container {
        text-align: center;
    }

    .footer-infos-container-main {
        box-sizing: border-box;
        background-color: var(--very-dark-violet);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px;
    }

    .footer-infos-container-text {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .footer-infos-container-text>img {
        height: auto;
        width: auto;
    }

    .ghost-div {
        display: none;
    }

}